.btn{
  font-size: 1.2rem;
  color: $textHeader;
  font-weight: 700;
  background-color: $bgcMain;
  padding: 1.6rem 4.5rem;
  display: inline-block;
  margin-top: 1.6rem;
  text-decoration: none;
  transition: all 0.25s linear;
  text-transform: uppercase;
}
.title{
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}
.content{
  font-size: 1.4rem;
  color: $textContent;
}
.img-mr{
  margin: 2rem 0;
}
h2{
  font-family: 'Playball', cursive;
  font-size: 4.5rem;
  color: $bgcMain;
}