header{
  .header-nav{
    position: absolute;
    height: 123px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    .container{
      
      .header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .header-logo{
          object-fit: cover;
          height: 100%;
        }

        .header_navbar{
          display: flex;
          justify-content: space-evenly;
          height: 100%;
          list-style: none;
          margin: 0;
          flex-grow: 1;

          li{
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;

            a{
              position: relative;
              color: $textHeader;
              text-decoration: none;
              padding: 0 8px;
              align-items: center;
              transition: all 0.25s linear;
            }

            a::after{
              content: " ";
              position: absolute;
              opacity: 0;
              top: 0;
              left: 0;
              width: 4px;
              height: 100%;
              border-left: 3px solid $bgcMain;
            }

            .header_subnav{
              position: absolute;
              top: 100%;
              left: 0;
              opacity: 0;
              transform: scaleY(0);
              transform-origin: top;
              visibility: hidden;
              text-decoration: none;
              list-style: none;
              padding: 1.2rem 2rem;
              width: 17rem;
              transition: all 0.25s linear;

              li{
                padding: 0.7rem 0;
              }

              a:hover{
                color: #000
              }
            }
          }
          li:hover a::after{
            opacity: 1;
          }
          li:hover .header_subnav{
            opacity: 1;
            visibility: visible;
            transform: scaleY(1);
            background-color: $bgcMain;
          }
        }

        .form-search{
          form{
            position: relative;
            margin: 0 2rem;
  
            input{
              position: absolute;
              top: 110%;
              right: 0;
              padding: 0.5rem 1.5rem;
              width: 28rem;
              outline: none;
              transform-origin: right;
              transform: scaleX(0);
              opacity: 0;
              visibility: hidden;
              transition: all 0.15s linear;
            };
          }
          &.open-search input{
            transform: scaleX(1);
            opacity: 1;
            visibility: visible;
          }
        }

        button{
          border: none;
          background-color: transparent;
          color: $textHeader;
        }
      }
    }
  }
  .thumb-header{
    &-image{
      object-fit: cover;
      width: 100%;
    }
  }
}

