.about{
  margin-top: 6rem;

  &_experience-cooker{
    margin: 8rem 0 5rem;
  }
  &_experience-cooker h1{
    display: inline-block;
    font-size: 6rem;
    color: $bgcMain;
    font-weight: 700;
  }
  &_experience-cooker span{
    font-size: 4rem;
    margin-left: 1rem;
  }
}

.festival{
  position: relative;
  background: url('https://premiumlayers.com/html/royalbakery/images/festival-bg.jpg') no-repeat;
  height: 80%;

  &_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6rem 6.5rem;
    background-color: $textHeader;
    max-width: 64rem;
  }
  &_content::before{
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border: 2px solid $bgcMain;
    z-index: -1;
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.festival_chosen{
  position: relative;
  height: 14rem;
  background-color: #ffbb63;

  &-list{
    display: flex;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 10%);
    justify-content: space-between;
    min-width: 690px;
  }

  &-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
  }
  &-list button{
    background-color: #3b3b3b;
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
    border: 6px solid #fff;
    transition: all 0.5s linear;
  }
  &-list button:hover{
    background-color: $bgcMain;
  }
  &-list p{
    font-size: 1.4rem;
    font-weight: 700;
    color: $textHeader;
    text-transform: uppercase;
    margin-top: 2rem;
  }
}
.product{
  margin: 12rem 0 16rem;
  &_our-menu{
    text-align: center;
    padding: 0 25%;
  }
  &_our-menu h5{
    margin-top: 1rem;
  }
  &_our-menu img{
    margin: 3rem 0;
  }
  &_our-menu p{
    margin-bottom: 6rem;
  }
  &_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin: 0 2rem;
  }
  &_item{
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding-left: 33rem;
    padding-top: 4rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
  }
  &_item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-left: 4px solid $bgcMain;
    opacity: 0;
    transition: opacity 0.3s linear
  }
  &_item:hover::before{
    opacity: 1;
  }
  &_item-image img{
    position: absolute;
    top: 0;
    left: 0;
  }
  &_item-info h5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
  }
  &_item-info span{
    color: $bgcMain;
    font-size: 1.4rem;
    text-align: right;
  }
  &_item-info p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }
  &_item-info a{
    background-color: unset;
    border: 2px solid $bgcMain;
    color: #000;
    padding: 1rem 4rem;
  }
  &_item-info a:hover{
    background-color: $bgcMain;
    color: $textHeader;
    padding: 1rem 4rem;
  }
}

.info-cookers{
  position: relative;
  background: url('https://premiumlayers.com/html/royalbakery/images/team-bg.jpg') center center no-repeat;
  background-size: cover;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
  &_cooker{
    position: relative;
    display: flex;
    padding: 10rem 20rem 0;
  }
  &_cooker-content .content,
  &_cooker-content{
    color: $textHeader;
  }
  &_cooker-content{
    margin-left: 12rem;
  }
  &_cooker-content p{
    margin-bottom: 0;
  }
  &_cooker-content .name-cooker{
    margin: 2rem 0 1rem;
  }
  &_cooker-content .content{
    font-size: 1.3rem;
  }
  &_cooker-content .phone-cooker,
  &_cooker-content .email-cooker{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $textHeader;
    margin-bottom: 1rem;
  }
  &_cooker-content > a i{
    color: #59d4f0;
    margin-right: 1rem;
  }
  &_cooker-content .social{
    margin-bottom: 2rem;
  }
  &_cooker-content .social a{
    color: $textHeader;
    margin-right: 1.5rem;
    transition: color 0.25s linear;
  }
  &_cooker-content .social a:hover{
    color: #59d4f0;
  }
}
// Choose Favourite
.choose-favour{
  display: flex;
  position: relative;
  &_image{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
  &_body{
    margin-top: 12rem;
    margin-left: 10rem;
    margin-bottom: 15rem;
    text-align: center;
    z-index: 1;
    width: 45%;
  }
  &_content img{
    margin: 3rem 0;
  }
  &_content p{
    font-size: 1.4rem;
    margin-bottom: 6rem;
  }
  &_form .form-input{
    row-gap: 3rem;
  }
  &_form input,
  &_form select{
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid #d1d1d1;
    outline: none;
  }
  &_form select{
    color: #bcc3d6;
  }
  &_form button{
    margin: 4.5rem 0;
    padding: 1rem 3.5rem;
    font-size: 1.4rem
  }
  ::placeholder,
  ::selection{
    color: #bcc3d6;
    font-size: 1.3rem
  }
  &_contact span{
    color: $bgcMain;
    font-weight: 600;
  }
  &_contact a{
    text-decoration: none;
    color: #59d4f0;
    font-weight: 600;
  }
}

// Counter box
.counter-box{
  position: relative;
  background: url('https://premiumlayers.com/html/royalbakery/images/counter-bg.jpg') no-repeat;
  background-size: cover;
  padding: 8rem 0;
  text-align: center;
  &_counters{
    display: flex;
    justify-content: space-around;
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8)
  }
  &_counter{
    position: relative;
    color: $textHeader;
    z-index: 1;
  }
  &_counter span{
    position: relative;
    font-size: 6rem;
    font-weight: 600;
    padding-right: 1.5rem;
    padding-top: 2rem;
    letter-spacing: 0.5rem;
  }
  &_counter span::before{
    content: '';
    position: absolute;
    border-top: 2px solid $bgcMain;
    width: 4.5rem;
    right: 1.5rem;
  }
  &_counter i{
    position: absolute;
    top: 20%;
    left: 100%;
    font-size: 3.5rem;
    color: #59d4f0;
  }
  &_counter h5{
    font-size: 1.5rem;
    color: $bgcMain
  }
}
// Lastest Post
.lastest-post{
  margin: 12rem 0;
  & .btn-view-all{
    text-align: center;
    margin-top: 2rem;
  }
  &_content{
    background-color:#f6f6f6;
    margin-top: 2rem;
    transition: all 0.5s linear;
  }
  &_content:hover{
    background-color: rgba(255, 255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2)
  }
  &_item{
    padding: 0 2rem;
  }
  &_heading{
    display: flex;
  }
  &_list{
    display: flex;
  }
  &_title{
    text-align: center;
    padding: 0 18rem;
    margin-bottom: 6rem;
  }
  &_title img{
    margin: 3rem;
  }
  &_date{
    background-color: #59d4f0;
    padding: 1.5rem 2rem;
    text-align: center;
  }
  &_date span{
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0;
    display: block;
  }
  &_date span:first-child{
    line-height: 4rem;

  }
  &_date span:last-child{
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1rem
  }
  &_blog{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1.5rem;
  }
  &_blog a{
    text-decoration: none;
    margin-bottom: 1rem;
    color: #000;
  }
  &_blog > a{
    font-weight: 600;
    color: #000;
    transition: color 0.5s linear;
  }
  &_blog > a:hover{
    color: $bgcMain;
  }
  &_utility i,
  &_utility span{
    font-size: 1.1rem;
  }
  &_utility i{
    color: #f8a6b0;
  }
  &_utility span{
    padding-left: 0.5rem;
    color: #8a8a8a;
  }
  &_content-content{
    padding: 2rem;
  }
  &_content-content p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &_content-content a,
  &_content-content i{
    text-decoration: none;
    color: $bgcMain;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    padding-right: 0.5rem;
  }
  &_content-content i{
    transform: translateX(0);
    transition: all 0.5s linear;
  }
  &_content-content a:hover{
    color: #59d4f0;
  }
  &_content-content a:hover i{
    color: #59d4f0;
    transform: translateX(0.5rem);
  }
}

