html{
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

*{
  box-sizing: border-box;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}