extends ../../layouts/authenticateAdmin
block content
  .body-login
    .body-login-welcome
      h2 Let's sign you in.
      p Welcome back.
      p You've been missed!
    form(action="/admin/", method="post")
      .body-login-form 
        input(type="text", name="name", placeholder="User name")
        input(type="password", name="password", placeholder="Password")
      .body-login-register
        p Don't have an account?
        a(href='/admin/register') Register
      button.body-login-btn Sign In