extends ../../layouts/authenticateAdmin
block content
  .body-register
    .body-register-welcome
      h2 Let's sign you in.
      p Welcome back.
      p You've been missed!
    form(action="/admin/register", method="post")
      .body-register-form 
        input(type="text", name="name", placeholder="User name")
        input(type="password", name="password", placeholder="Password")
        input(type="password", name="confirmPassword", placeholder="Confirm password")
      .body-register-register
        p Already have an account?
        a(href='/admin/') Sign in
      button.body-register-btn Sign Up