extends ../layouts/layout
block content
  section
    .container.about
      .row
        .col-6.about-item
          .about_image-cooker
            img(src='https://premiumlayers.com/html/royalbakery/images/welcome.png')
        .col-6.about-item
          .about_welcome
            .about_experience-cooker
              h1 30
              span YEARS
              span OF EXCELLENCE
            .about_about-cooker
              h2 About Us
              h5.title OUR STORY
              img.img-mr(src='https://premiumlayers.com/html/royalbakery/images/section-seprator-1.png')
              p.content The day for a three hour tour a three hour tour then one day he was shooting at some food and up through the ground came a oil that is its a beautiful day Got a dream and we just know now we are gonna make our dream come true so get a witch is shawl on a broomstick you can crawl on were gonna pay.
              a(href='#').btn read more
    .container-fuild.festival
      .container
        .festival_content
          h5.title CAKE FESTIVAL
          img.img-mr(src='https://premiumlayers.com/html/royalbakery/images/section-seprator-1.png')
          p.content The day for a three hour tour a three hour tour then one day he was shooting at some food and up through the ground came a oil that is its a beautiful day got a dream true.
          a(href='#').btn read more
    .container-fuild.festival_chosen
      .festival_chosen-list
        li
          button 
            img(src='	https://premiumlayers.com/html/royalbakery/images/festival-ic-1.png')
          p partycakes
        li
          button 
            img(src='	https://premiumlayers.com/html/royalbakery/images/festival-ic-2.png')
          p softcakes
        li
          button 
            img(src='	https://premiumlayers.com/html/royalbakery/images/festival-ic-3.png')
          p cupcakes
        li
          button 
            img(src='	https://premiumlayers.com/html/royalbakery/images/festival-ic-4.png')
          p berrycakes
        li
          button 
            img(src='	https://premiumlayers.com/html/royalbakery/images/festival-ic-5.png')
          p nutcakes
    .container-fuild.product
      .product_our-menu
        h2 Our Menu
        h5.title CREAMY DISHES
        img(src='https://premiumlayers.com/html/royalbakery/images/section-seprator.png')
        p.content The day for a three hour tour a three hour tour then one day he was shooting at some food and up through the ground came a oil that is its a beautiful day.
      //- Product List
      .product_list
        .product_item.d-flex
          .product_item-image
            img(src='https://premiumlayers.com/html/royalbakery/images/menu-4.png')
          .product_item-info
            h5.title chocolate flash
              span $20.00
            p.content The day he wane day he was shooting at some food and up through the ground.
            a.btn(href='#') order now
    #carousel-info-cookers.carousel.slide(data-bs-ride='carousel')
      .carousel-inner.info-cookers
        .carousel-item.active
          .info-cookers_cooker
            .info-cookers_cooker-image
              img(src='https://premiumlayers.com/html/royalbakery/images/team.png')
            .info-cookers_cooker-content
              h2 Meet our team
              h5.title chefs
              img.img-mr(src='https://premiumlayers.com/html/royalbakery/images/section-seprator-1.png')
              p.content The day for a three hour tour a three hour tour then one day he was shooting at some food and up through the ground came a oil that is its a beautiful day Got a dream and we just know now we are gonna make our dream come true so get a witch is shawl on a broomstick you can crawl on were gonna pay.
              p.name-cooker STEFHEN RICHARDS
              .social
                a(href='#')
                  i.fab.fa-facebook-f
                a(href='#')
                  i.fab.fa-twitter
                a(href='#')
                  i.fab.fa-google-plus-g
              a.email-cooker(href='mailto:info@gmail.com')
                i.fas.fa-envelope
                p info@gmail.com
              a.phone-cooker(href='tel:012345567')
                i.fas.fa-phone-alt
                p 012345567
        .carousel-item
          .info-cookers_cooker
            .info-cookers_cooker-image
              img(src='https://premiumlayers.com/html/royalbakery/images/team.png')
            .info-cookers_cooker-content
              h2 Meet our team
              h5.title chefs
              img.img-mr(src='https://premiumlayers.com/html/royalbakery/images/section-seprator-1.png')
              p.content The day for a three hour tour a three hour tour then one day he was shooting at some food and up through the ground came a oil that is its a beautiful day Got a dream and we just know now we are gonna make our dream come true so get a witch is shawl on a broomstick you can crawl on were gonna pay.
              p.name-cooker STEFHEN RICHARDS
              .social
                a(href='#')
                  i.fab.fa-facebook-f
                a(href='#')
                  i.fab.fa-twitter
                a(href='#')
                  i.fab.fa-google-plus-g
              a.email-cooker(href='mailto:info@gmail.com')
                i.fas.fa-envelope
                p info@gmail.com
              a.phone-cooker(href='tel:012345567')
                i.fas.fa-phone-alt
                p 012345567
        .carousel-item
          .info-cookers_cooker
            .info-cookers_cooker-image
              img(src='https://premiumlayers.com/html/royalbakery/images/team.png')
            .info-cookers_cooker-content
              h2 Meet our team
              h5.title chefs
              img.img-mr(src='https://premiumlayers.com/html/royalbakery/images/section-seprator-1.png')
              p.content The day for a three hour tour a three hour tour then one day he was shooting at some food and up through the ground came a oil that is its a beautiful day Got a dream and we just know now we are gonna make our dream come true so get a witch is shawl on a broomstick you can crawl on were gonna pay.
              p.name-cooker STEFHEN RICHARDS
              .social
                a(href='#')
                  i.fab.fa-facebook-f
                a(href='#')
                  i.fab.fa-twitter
                a(href='#')
                  i.fab.fa-google-plus-g
              a.email-cooker(href='mailto:info@gmail.com')
                i.fas.fa-envelope
                p info@gmail.com
              a.phone-cooker(href='tel:012345567')
                i.fas.fa-phone-alt
                p 012345567
        a.carousel-control-prev(href='#', data-bs-target='#carousel-info-cookers', data-bs-slide='prev')
          i.fas.fa-caret-left
          span.visually-hidden Previous
        a.carousel-control-next(href='#', data-bs-target='#carousel-info-cookers', data-bs-slide='next')
          i.fas.fa-caret-right
          span.visually-hidden Next
    .choose-favour
      .container.choose-favour_body
        .choose-favour_content 
          h2 Choose your Flavour
          h5.title ORDER ONLINE
          img(src='https://premiumlayers.com/html/royalbakery/images/section-seprator.png')
          p.content The day for a three hour tour a three hour tour then one day he was shooting at some food and up through the ground came a oil that is its a beautiful day.
        .choose-favour_form 
          form(action="")
            .row.form-input
              .col-md-6
                input(name="name", type="text", placeholder="NAME *") 
              .col-md-6
                input(name="phone", type="text", placeholder="PHONE NUMBER *") 
              .col-md-6
                select(name="favour")
                  <option value="">FAVOUR</option>
                  <option value="">FAVOUR</option>
                  <option value="">FAVOUR</option>
                  <option value="">FAVOUR</option>
              .col-md-6
                input(name="address", type="text", placeholder="YOUR ADDRESS *") 
            button.btn order now
        .choose-favour_contact
          span FOR MORE QUERIES CALL US AT : 
          a(href='tel:1-800-23-456-7890') 1-800-23-456-7890
      .choose-favour_image
        img(src='https://premiumlayers.com/html/royalbakery/images/order-online.png')
    .container-fuild.counter-box 
      .container.counter-box_counters
        .counter-box_counter
          span.counter(data-target='1500') 0
          i.far.fa-smile-wink
          h5.title HAPPY CLIENTS
        .counter-box_counter
          span.counter(data-target='550') 0
          i.fas.fa-mug
          h5.title COFFEE CUPS
        .counter-box_counter
          span.counter(data-target='750') 0
          i.fas.fa-hourglass-start
          h5.title WORKED HOURS
        .counter-box_counter
          span.counter(data-target='110') 0
          i.fas.fa-home
          h5.title BRANCHES
    .lastest-post
      .container.lastest-post_title
        h2 Latest Post
        h5.title OUR BLOG
        img(src='https://premiumlayers.com/html/royalbakery/images/section-seprator.png')
        p.content The day for a three hour tour a three hour tour then one day he was shooting at some food and up through the ground came a oil that is its a beautiful day.
      .container.lastest-post_list
        .lastest-post_item
          a(href='#')
            img(src='https://premiumlayers.com/html/royalbakery/images/latestblog-1.jpg')
          .lastest-post_content
            .lastest-post_heading
              .lastest-post_date
                span 25
                span jan
              .lastest-post_blog
                a(href='#') CREAMY WAVES SHIFT
                .lastest-post_utility
                  a(href='#')
                    i.far.fa-heart
                    span 10 Likes / 
                  a(href='#')
                    i.far.fa-comment-dots
                    span 15 Comments / 
                  a(href='#')
                    span Admin
            .lastest-post_content-content
              p.content The day he was shooting at some food and up through the ground came a oil that is its a beautiful day came a oil.
              a(href='#') read more 
                i.fas.fa-angle-double-right
        .lastest-post_item
          a(href='#')
            img(src='https://premiumlayers.com/html/royalbakery/images/latestblog-2.jpg')
          .lastest-post_content
            .lastest-post_heading
              .lastest-post_date
                span 07
                span feb
              .lastest-post_blog
                a(href='#') THE MUPPET SHOW
                .lastest-post_utility
                  a(href='#')
                    i.far.fa-heart
                    span 10 Likes / 
                  a(href='#')
                    i.far.fa-comment-dots
                    span 15 Comments / 
                  a(href='#')
                    span Admin
            .lastest-post_content-content
              p.content The day he was shooting at some food and up through the ground came a oil that is its a beautiful day came a oil.
              a(href='#') read more 
                i.fas.fa-angle-double-right
        .lastest-post_item
          a(href='#')
            img(src='https://premiumlayers.com/html/royalbakery/images/latestblog-3.jpg')
          .lastest-post_content
            .lastest-post_heading
              .lastest-post_date
                span 14
                span apr
              .lastest-post_blog
                a(href='#') DESERVE THE CUPCAKE
                .lastest-post_utility
                  a(href='#')
                    i.far.fa-heart
                    span 10 Likes / 
                  a(href='#')
                    i.far.fa-comment-dots
                    span 15 Comments / 
                  a(href='#')
                    span Admin
            .lastest-post_content-content
              p.content The day he was shooting at some food and up through the ground came a oil that is its a beautiful day came a oil.
              a(href='#') read more 
                i.fas.fa-angle-double-right
      .container.btn-view-all
        a.btn(href='#') view all post