extends ../layouts/layout
block content
  section
    .container.about
      .row
        .about_image-cooker.col-6
          img(src='https://premiumlayers.com/html/royalbakery/images/welcome.png')
        .about_welcome.col-6
          .about_experience-cooker
            h1 30
            span YEARS OF EXCELLENCE
          .about_about-cooker
            h2 About Us
            h5.title OUR STORY
            img.img-mr(src='https://premiumlayers.com/html/royalbakery/images/section-seprator-1.png')
            p.content The day for a three hour tour a three hour tour then one day he was shooting at some food and up through the ground came a oil that is its a beautiful day Got a dream and we just know now we are gonna make our dream come true so get a witch is shawl on a broomstick you can crawl on were gonna pay.
            a(href='#').btn read more
    .container-fuild.festival
      .container
        .festival_content
          h5.title CAKE FESTIVAL
          img.img-mr(src='https://premiumlayers.com/html/royalbakery/images/section-seprator-1.png')
          p.content The day for a three hour tour a three hour tour then one day he was shooting at some food and up through the ground came a oil that is its a beautiful day got a dream true.
          a(href='#').btn read more
    .container-fuild.festival_chosen
      .festival_chosen-list
        li
          button 
            img(src='	https://premiumlayers.com/html/royalbakery/images/festival-ic-1.png')
          p partycakes
        li
          button 
            img(src='	https://premiumlayers.com/html/royalbakery/images/festival-ic-2.png')
          p softcakes
        li
          button 
            img(src='	https://premiumlayers.com/html/royalbakery/images/festival-ic-3.png')
          p cupcakes
        li
          button 
            img(src='	https://premiumlayers.com/html/royalbakery/images/festival-ic-4.png')
          p berrycakes
        li
          button 
            img(src='	https://premiumlayers.com/html/royalbakery/images/festival-ic-5.png')
          p nutcakes

