extends ../../layouts/layoutAdmin
block content
  .section-content
    .form
      form(action="/admin/product/create", method="post", enctype="multipart/form-data")
        .input-group.mb-5
          span#basic-addon3.input-group-text.fz-18.p-3 Name
          input#basic-url.form-control.fz-18.p-3(type='text', name='name', aria-describedby='basic-addon3')
        .input-group.mb-5
          label.input-group-text.fz-18.p-3(for='inputGroupSelect01') Category
          select#inputGroupSelect01.form-select.fz-18.p-3(name='category')
            option(selected='') Choose...
            option(value='1') One
            option(value='2') Two
            option(value='3') Three
        .input-group.mb-5
          span.input-group-text.fz-18.p-3 Price
          input.form-control.fz-18.p-3(type='text', name='price', aria-label='Amount (to the nearest dollar)')
          span.input-group-text.fz-18.p-3 VNĐ
        .input-group.mb-5
          span.input-group-text.fz-18.p-3 Quantity
          input.form-control.fz-18.p-3(type='text', name='quantity', aria-label='Amount (to the nearest dollar)')
          span.input-group-text.fz-18.p-3 Bánh
        .input-group.mb-5
          span.input-group-text.fz-18.p-3 Description
          textarea.form-control.fz-18.p-3(aria-label='With textarea', name='des')
        div.mb-5
          input#formFileLg.form-control.form-control-lg.fz-18(type='file', name='image', multiple)
          input(type='text', name='imagelink', hidden)
        button.btn Create
        a.btn(href='/admin/home') Cancel

